/*
 * Styles for Blockpop Popup Module
 */
#block-blockpop-popup {
  display: none;
}
#block-blockpop-popup .content {
  padding: 0px;
}
.block-blockpop-popup .content img {
  max-width: 100%;
}
.block-blockpop-popup {
  color: #3b3b3b;
}
.blockpop-popup-style-image-based .content p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.blockpop-popup-style-image-based .content a,
.blockpop-popup-style-image-based .content img {
  display: block;
}
.blockpop-popup-style-image-based .media-element-container {
  display: block;
}
